<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
 <add name="VirtoCommerce" connectionString="Data Source=3d59d58d-354d-4b72-91ea-a45800ed84e9.sqlserver.sequelizer.com;Initial Catalog=db3d59d58d354d4b7291eaa45800ed84e9;Persist Security Info=True;User ID=wkzrmrpfebgtggte;Password=DcaqNHHANwR3MEmmUz7vuqbwDUvUpi37jkawHBTtXBbf8PHMZdbWrzXoaKT3mVkD;MultipleActiveResultSets=True;Connect Timeout=420"
  providerName="System.Data.SqlClient" />
</connectionStrings>